
.bottom{
  display: flex;
  width: 100%;
  position: fixed;
  bottom: 188px;
  left: 0;
  height: 100px;
  justify-content: center;
  padding: 0 10px;
  .bottom_body{
    .num{
      position: absolute;
      margin-left: 42px;
      margin-top: -16px;
      width: 30px;
      height: 30px;
      border-radius: 30px;
      color: #FFFFFF;
      background-color: red;
      line-height: 30px;
      text-align: center;
      z-index: 2;
    }
  font-size: 18px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  width: 90%;
  border-radius: 50px;
  background-color: #3A3B36;
  color: #89888d;
    height: 100px;
  .text_left{
    position: absolute;
    left: 35%;
    font-size: 28px;
  text-align: center;
    line-height: 60px;
  }
    .text_right{
      font-size: 24px;
      text-align: center;
      line-height: 60px;
    }
    .price{
      color: #FFFFFF;
      font-weight: bold;
      font-size: 30px;
    }
    .pay{
      font-weight: bold;
      color: black;
      background-color: yellow;
      font-size: 25px;
      width: 130px;
      display: block;
      height: 100%;
      line-height: 90px;
      text-align: center;
      border-radius: 0 50px 50px 0;
      position:absolute;
      left: 80%;
    }
    .shopping{
      position: absolute;
      left: 10%;
    }
    .login{
      font-weight: bold;
      color: black;
      background-color: #eeeeee;
      font-size: 25px;
      width: 130px;
      display: block;
      height: 100%;
      line-height: 90px;
      text-align: center;
      border-radius: 0 50px 50px 0;
      position:absolute;
      left: 80%;
    }
  }
}
.cartList{
  padding: 10px;
  flex-grow: 1;
  display: flex;
  margin-top: 20px;
  flex-direction: row;
  .cartList_Name{
    flex-grow: 1;
    position: relative;
    font-size: 40px;
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    height: 200px;
    justify-content: space-between;
  }
  .cartList_Price {
    position: relative;
    right: 15px;
    color: red;
    font-size: 40px;
  }
  .cartList_Num{
    position: relative;
    bottom: 100px;
    right: 15%;
    font-size: 40px;
    color: #022f2f;
  }
  .cartList_img{
    width: 200px;
    height: 200px;
    border-radius: 4px;
  }

}
