

.food_list{
  float: left;
  font-size:16px;
  text-align:center;
}
.add{
  right: 90%;
  border: 2px solid orangered;   /*宽为2rpx的一个外边框*/
  border-radius: 50%;   /*设置圆角*/
  font-size: 11pt;   /*字号*/
}
